body
{
    font-family: tahoma;
    font-size: 12px;
    font-weight: normal;
    color: #333;
    text-decoration: none;
    margin: 0px;
}
.CBSLogo
{
    float: left;
    height: 54px;
    width: 176px;
}
.ClientLogo
{
    float: right;
    height: 54px;
    width: 176px;
}
.CMSTitle
{
    float: left;
    height: 29px;
    width: 176px;
}
.Content
{
    font-family: tahoma;
    font-size: 12px;
    font-weight: normal;
    color: #333;
    text-decoration: none;
    float: left
    height: 100%;
    padding-top: 15px;
    padding-right: 2%;
    padding-bottom: 40px;
    width: 68%;
}
.Copyright
{
    font-family: tahoma;
    font-size: 10px;
    font-weight: normal;
    color: #AAA;
    text-decoration: none;
    text-align: right;
    float: right;
    padding-top: 5px;
    padding-right: 10px;
}
.Footer
{
    background-color: #DDD;
    height: 26px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 1000;
    left: 0px;
    right: 0px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #dcdcdc;
}
.Header
{
    font-family: tahoma;
    font-size: 12px;
    font-weight: normal;
    color: #333;
    text-decoration: none;
    float: left;
    height: 83px;
    background-image: url(images/HeaderBG.png);
    background-position: top;
    width: 100%;
}
.HeaderBottomContainer
{
    font-family: tahoma;
    font-size: 12px;
    font-weight: normal;
    color: #333;
    text-decoration: none;
    float: left;
    height: 29px;
    width: 100%;
    background-repeat: repeat-x;
}
.HeaderTopContainer
{
    font-family: tahoma;
    font-size: 12px;
    font-weight: normal;
    color: #333;
    text-decoration: none;
    float: left;
    height: 54px;
    width: 100%;
    background-image: url(images/HeaderBG.png);
    background-repeat: repeat-x;
}
img
{
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.Navigation
{
    font-family: tahoma;
    font-size: 12px;
    font-weight: normal;
    color: #333;
    text-decoration: none;
    float: left;
    width: 18%;
    padding-top: 15px;
    padding-bottom: 40px;
    padding-left: 1%;
    padding-right: 1px;
}
.NavTop
{
    font-family: tahoma;
    font-size: 12px;
    font-weight: normal;
    color: #333;
    text-decoration: none;
    float: left;
    height: 10px;
    padding: 0px;
    width: 100%;
    background-image: url(images/NavTop.png);
    background-repeat: repeat-x;
}
.NavBody
{
    font-family: tahoma;
    font-size: 12px;
    font-weight: normal;
    color: #333;
    text-decoration: none;
    float: left;
    width: 100%;
    background-color: #e5e5e5;
    padding-top: 5px;
    padding-bottom: 5px;
}
.NavTopL
{
    background-image: url(images/NavTopL.png);
    float: left;
    height: 10px;
    width: 10px;
}
.NavTopR
{
    background-image: url(images/NavTopR.png);
    float: right;
    height: 10px;
    width: 10px;
}
.NavBottom
{
    font-family: tahoma;
    font-size: 12px;
    font-weight: normal;
    color: #333;
    text-decoration: none;
    float: left;
    width: 100%;
    height: 10px;
    padding: 0px;
    background-image: url(images/NavBottom.png);
}
.NavBottomR
{
    background-image: url(images/NavBottomR.png);
    float: right;
    height: 10px;
    width: 10px;
}
.NavBottomL
{
    background-image: url(images/NavBottomL.png);
    float: left;
    height: 10px;
    width: 10px;
}
.NavItem
{
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    padding-bottom: 4px;
}
.NavItem
{
    font-family: arial;
    font-size: 11px;
    color: #333;
    text-decoration: none;
    padding-bottom: 4px;
}
.NavItem a:link
{
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}
.NavItem a:hover
{
	font-family: arial;
	font-size: 11px;
	font-weight: bold;
	color: #F60;
	text-decoration: none;
}
.NavItem a:visited
{
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}
.NavItem a:active
{
	font-family: arial;
	font-size: 11px;
	font-weight: bold;
	color: #F30;
	text-decoration: none;
}
.TopLinks
{
    float: right;
    height: 20px;
    padding-right: 14px;
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    color: #EEE;
    text-decoration: none;
    padding-top: 9px;
    text-align: right;
}
.TopLinks a:link
{
    float: right;
    height: 20px;
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    color: #EEE;
    text-decoration: none;
    text-align: right;
}
.TopLinks a:hover
{
	float: right;
	height: 20px;
	font-family: arial;
	font-size: 11px;
	font-weight: bold;
	color: #F60;
	text-decoration: none;
	text-align: right;
}
.TopLinks a:active
{
	float: right;
	height: 20px;
	font-family: arial;
	font-size: 11px;
	font-weight: bold;
	color: #F30;
	text-decoration: none;
	text-align: right;
}
.TopLinks a:visited
{
    float: right;
    height: 20px;
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    color: #EEE;
    text-decoration: none;
    text-align: right;
}

.action
{
    background-repeat: repeat-x;
    background-position: top;
    padding-top: 9px;
    text-align: right;
    margin-top: 12px;
}
.action .btn, .btn
{
	color: #F60;
	cursor: pointer;
	border: 1px solid #666;
	margin-left: 4px;
	font-size: 11px;
	padding: 0 7px 0 7px;
	float: right;
	background-color: #333;
	background-image: url(../images/bg_btn.gif);
	background-repeat: repeat-x;
}

.line_7
{
    background-image: url(../images/line_7.gif);
}
.imgbtn
{
    float: right;
    margin-top: 3px;
    padding-top: 2px;
}
.grd
{
    width: 100%;
    border: 0px;
}
span
{
    font-family: arial;
    font-size: 11px;
    color: #333;
    text-decoration: none;
    padding-bottom: 4px;
}
label
{
    font-family: arial;
    font-size: 11px;
    color: #333;
    text-decoration: none;
    padding-bottom: 4px;
}
.grd td
{
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: #dddddd;
}
.grd th
{
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: #dddddd;
}
.gridTitle
{
    width: 100%;
    font-weight: bold;
    color: Black;
    height: 24px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    background-image: url(images/GridTitleBg.jpg);
}
.dvmessages
{
   
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size:xx-small;
    width:50%;
}
.cal_Theme1 .ajax__calendar_container
{
    background-color: #e2e2e2;
    border: solid 1px #cccccc;
}

.cal_Theme1 .ajax__calendar_header
{
    background-color: #ffffff;
    margin-bottom: 4px;
}

.cal_Theme1 .ajax__calendar_title, .cal_Theme1 .ajax__calendar_next, .cal_Theme1 .ajax__calendar_prev
{
	color: #F60;
	padding-top: 3px;
}

.cal_Theme1 .ajax__calendar_body
{
    background-color: #e9e9e9;
    border: solid 1px #cccccc;
}

.cal_Theme1 .ajax__calendar_dayname
{
    text-align: center;
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 2px;
}

.cal_Theme1 .ajax__calendar_day
{
    text-align: center;
}

.cal_Theme1 .ajax__calendar_hover .ajax__calendar_day, .cal_Theme1 .ajax__calendar_hover .ajax__calendar_month, .cal_Theme1 .ajax__calendar_hover .ajax__calendar_year, .cal_Theme1 .ajax__calendar_active
{
	color: #F60;
	font-weight: bold;
	background-color: #ffffff;
}

.cal_Theme1 .ajax__calendar_today
{
    font-weight: bold;
}

.cal_Theme1 .ajax__calendar_other, .cal_Theme1 .ajax__calendar_hover .ajax__calendar_today, .cal_Theme1 .ajax__calendar_hover .ajax__calendar_title
{
    color: #bbbbbb;
}
.loadingPanel
{
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
    filter: alpha(opacity=50);
    opacity: 0.50;
    position: absolute;
}
a:link
{
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    color: #999;
    text-decoration: none;
}
a:visited
{
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    color: #999;
    text-decoration: none;
}
a:hover
{
	font-family: arial;
	font-size: 11px;
	font-weight: bold;
	color: #F60;
	text-decoration: none;
}
a:active
{
	font-family: arial;
	font-size: 11px;
	font-weight: bold;
	color: #F30;
	text-decoration: none;
}




.UsernameField
{
    font-family: arial;
    font-size: 11px;
    font-weight: normal;
    color: #777;
    text-decoration: none;
    border: 1px solid #AAA;
    height: 22px;
    width: 120px;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
}
.LoginButton
{
	font-family: arial;
	font-size: 11px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	border: 1px solid #F30;
	height: 22px;
	width: 55px;
	padding-top: 2px;
	padding-right: 8px;
	padding-bottom: 2px;
	padding-left: 8px;
	background-color: #F60;
	text-align: center;
	cursor:pointer;
}
.LoginContainer
{
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
.LoginLabel
{
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    padding-bottom: 4px;
    float: left;
}
.Loading
{
    position: absolute;
    height: 20px;
    width: 140px;
    top: 45%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    z-index: 1001;
}
.LoadingContainer
{
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: absolute;
    background-color: #000;
    -moz-opacity: 0.5;
    opacity: 0.5;
    filter: alpha(opacity=10);
}

.MenuHeader
{
    width: 250;
    background-image: url(../images/arrowy.png);
}
.selectedRow
{
    color: #e1e1e1;
}
h3
{
    font-size:18;
    font-weight:bolder;
}